@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotation {
  animation: rotation 20s linear infinite;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.link-hover:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
}

.logo {
  width: 183px;
}

.logo_place_header {
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  align-self: center;
  margin: 0 0 0 64px;
  font-size: 102px;
  font-weight: 700;
  line-height: 96px;
  z-index: 20;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  width: 398px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  z-index: 20;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.description {
  padding-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0;
  color: #000;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 700;
}

.techniques {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 100px;
}

.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  width: 240px;
  margin-top: 60px;
  margin-right: 100px;
}

.cards__item:nth-child(3) {
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 0 40px;
  border-radius: 50%;
}

.cards__title {
  margin: 0;
  margin-top: 43px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
}

.cards__description {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 100px;
}

.video__iframes {
  margin-top: 50px;
}

.video__iframe {
  margin-right: 20px;
}

.video__iframe:last-child {
  margin-right: 0;
}

.oakley {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: -50px;
  padding-top: 160px;
  background-color: #f2f2f2;
}

.feynman {
  height: 790px;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 100px;
  background: url('../images/feynman.png') #f2f2f2 no-repeat bottom left;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  font-size: 120px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px auto 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  text-align: center;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 36px;
  color: #2f80ed;
  font-weight: 400;
  line-height: 51px;
  text-decoration: none;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 100px 0;
}

.section-title {
  margin: 0;
  width: 60%;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  color: #000;
  margin-right: 0;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.khan {
  display: flex;
  flex-direction: column;
  padding-top: 105px;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  align-self: center;
}

.khan__author {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
}

.khan__title {
  margin: 0;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700; 
}

.khan__quote {
  width: 790px;
  margin: 50px 0 36px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.khan__quote-author {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15;
}

.khan__quote-author-subline {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.15;
}

.khan__book-container {
  margin-top: 68px;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: left top;
}

.khan__buy-link {
  vertical-align: top;
  margin-left: 48px;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: #fff;
  z-index: 10;
}

.section-subtitle_theme_dark {
  color: #fff;
  z-index: 10;
}

.table_theme_dark {
  z-index: 10;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: relative;
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: cover;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 217px 0;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.resources__logo-zone {
  width: 1100px;
  margin-top: 80px;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: #fff;
  display: flex;
  padding: 60px 0 40px 0;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  height: 35px;
  align-self: flex-start;
}

.footer__author {
  margin: 18px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.footer__column-links {
  list-style: none;
  padding-left: 0;
}

.footer__column-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  margin-bottom: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}