.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  align-self: center;
  margin: 0 0 0 64px;
  font-size: 102px;
  font-weight: 500;
  line-height: 96px;
  z-index: 20;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
  z-index: 20;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  color: #000;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 500;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
