.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  align-self: center;
  margin: 0 0 0 64px;
  font-size: 102px;
  font-weight: 700;
  line-height: 96px;
  z-index: 20;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  width: 398px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  z-index: 20;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 100px auto 0;
  color: #000;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 700;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
}

.section-title {
  margin: 0;
  padding: 0;
  width: 60%;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
}

.section-subtitle {
  margin: 0;
  padding: 0;
  width: 60%;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  color: #000;
  margin-right: 0;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15;
}

.table__text {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.feynman {
  height: 790px;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 100px;
  background: url('../images/feynman.png') #f2f2f2 no-repeat bottom left;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  font-size: 120px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px auto 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  text-align: center;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 36px;
  color: #2f80ed;
  font-weight: 400;
  line-height: 51px;
  text-decoration: none;
}

.kaufman {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: #fff;
  margin-top: 90px;
  z-index: 10;
}

.section-subtitle_theme_dark {
  color: #fff;
  z-index: 10;
}

.table_theme_dark {
  z-index: 10;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  border: 1px solid red;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: #fff;
  display: flex;
}

.footer__columns {
  width: 90%;
  margin: 60px auto 40px;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  align-self: flex-start;
}

.footer__author {
  margin: 0;
  padding: 0;
  margin: 18px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.footer__column-links {
  list-style: none;
  padding-left: 0;
}

.footer__column-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}